affine
altgraph
asttokens
attrs
bidict
blinker
cachelib
cairocffi
Cerberus
certifi
cffi
click
click-plugins
cligj
colorama
config
contourpy
cssselect2
cycler
DateTime
debugpy
decorator
defusedxml
executing
Flask
Flask-Caching
Flask-Cors
Flask-SocketIO
fonttools
geopandas
h11
itsdangerous
Jinja2
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
numpy
packaging
pandas
pbr
pefile
pillow
pure_eval
pycparser
Pygments
pyinstaller
pyinstaller-hooks-contrib
pyogrio
pyparsing
pyproj
python-dateutil
python-engineio
python-socketio
pytz
pywin32-ctypes
PyYAML
repoze.lru
rich
Routes
setuptools
shapely
simple-websocket
six
stack-data
stevedore
tinycss2
tzdata
wcwidth
webencodings
Werkzeug
wheel
wsproto
XlsxWriter
zope.interface
