affine
altgraph
asttokens
attrs
bidict
blinker
branca 
Brotli 
cachelib
cairocffi
Cerberus
certifi 
cffi
charset-normalizer 
click
click-plugins
cligj
colorama
config
contourpy
cssselect2
cycler
DateTime
debugpy
decorator
defusedxml
executing
Flask
Flask-Caching
Flask-Cors
Flask-SocketIO
folium 
fonttools
GDAL
geopandas
h11
h2 
hpack 
hyperframe 
idna 
itsdangerous
Jinja2
joblib 
kiwisolver
mapclassify 
markdown-it-py
MarkupSafe
matplotlib
mdurl
networkx 
numpy 
packaging 
pandas
pbr
pefile
pillow
pure_eval
pycparser
Pygments
pyinstaller
pyinstaller-hooks-contrib 
pyparsing
pyproj 
PySocks 
python-dateutil
python-engineio
python-socketio
pytz
pywin32-ctypes
PyYAML
repoze.lru
requests 
rich
Routes
scikit-learn 
scipy 
setuptools
shapely
simple-websocket
six
stack-data
stevedore
threadpoolctl 
tinycss2
tzdata
urllib3 
wcwidth
webencodings
Werkzeug
wheel
win_inet_pton 
wsproto
XlsxWriter
xyzservices 
zope.interface
zstandard
