altgraph
asttokens
bidict
blinker
cachelib
click
colorama
config
contourpy
cycler
DateTime
debugpy
decorator
executing
Flask
Flask-Caching
Flask-Cors
Flask-SocketIO
fonttools
h11
itsdangerous
Jinja2
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
numpy 
packaging
pandas
pbr
pefile
pillow
pure_eval
Pygments
pyinstaller
pyinstaller-hooks-contrib
pyparsing
python-dateutil
python-engineio
python-socketio
pytz
pywin32-ctypes
PyYAML
repoze.lru
rich
Routes
setuptools
simple-websocket
six
stack-data
stevedore
tzdata
wcwidth
Werkzeug
wheel
wsproto
XlsxWriter
zope.interface
